.title-text {
    color: white;
}
.title-text:hover {
    text-decoration: none;
    color: #cdcdcd;
}
.page-title {
    text-align: center;
    font-size: 35px;
    text-decoration: none;
}
.navCenter {
    display: inline-block;
    list-style-type: none;
}
/*---------------Drop down List---------------*/
.dark-bg {
    background-color: #373737;
}
/* Style The Dropdown Button */
.dropbtn {
    color: #ffffff;
    padding-top: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /*min-width: 300px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    white-space: nowrap;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #cdcdcd;
}
/*---------------row-list---------------*/
.row-list-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.row-list-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.row-list-4 img{
    width: 200px;
    height: 110px;
    display: block;
    margin: 5px auto 5px auto;
    border: 2px solid #000000;
}
.row-list-4 p{
    text-align: left;
    word-break: break-word;
    max-width: 350px;
    font-size: 15px;
    padding-bottom: 2em;
}
.row-list-item-5{
    position: relative;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px ridge #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 0.2vw;
    width: 100%;
}
.row-list-item-5:hover {
    position: absolute;
    height: auto;
    max-width: 195px;
    background-color: white;
    z-index: 2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.row-list-item-4{
    position: relative;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px ridge #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 0.2vw;
    width: 100%;
}
.article-container > .homepage-container-height {
    min-height: 140px;
}
.article-container > .country-news-container-height {
    min-height: 140px;
}
.row-list-item-4:hover {
    height: auto;
    max-width: 295px;
    background-color: white;
    position: absolute;
    z-index: 2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.source{
    position: absolute;
    bottom: 0;
    left: 5px;
}
.source-button{
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: #ffffff;
    border-color: #000000;
    box-shadow: 2px 2px#282c34;
}
.source-button:hover {
    background-color: #d0d3d2;
}
.dark-background {
    background-color: #353535;
}
#summary-text{
    display: none;
    font-size: 14px;
}
.row-list-item-5:hover #summary-text, .row-list-item-4:hover #summary-text {
    border-top: 0.3vh solid;
    display: block;
}
.article-container {
    display: flex;
}
.article-title {
    font-weight: bold;
}
.news-category-container {
    margin: 0 6px;
    color: white;
    /*border-bottom: 2px solid transparent;*/
    cursor: pointer;
    border-width: 0;
    text-decoration: none;
}
.news-category-container::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    text-decoration: none;

}
.news-category-container:hover::after {
    width: 100%;
}
.news-category-container a {
    color: white;
}
.news-category-container:hover a {
    color: white;
    text-decoration: none;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    /*overflow: hidden;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    text-align: center;
    border-top: 4px solid black;
}
.footer a {
    text-decoration: none;
    color: inherit;
}
.footer a:hover {
    color: inherit;
}
.footer-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto 10px;

}
.footer-icon:hover {
    cursor: pointer;
}
.footer-icon a {
    display: block;
    height: 100%;
    width:100%;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.footer-text {
    font-size: 18px;
}
.footer-title {
    width: 100%;
    color: white;
}
.center-items {
    align-content: center;
    text-align: center;
}
#github-logo {
    background: url("https://image.flaticon.com/icons/svg/25/25231.svg") no-repeat center center;
    background-size: cover;
}
#linkedin-logo {
    background: url("https://image.flaticon.com/icons/png/512/61/61109.png") no-repeat center center;
    background-size: cover;
}
.volkorn {
    font-family: "Volkorn";
}
