.outlet-container {
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: space-between;    /* horizontal alignment of grid tracks */
    align-content: space-between;      /* vertical alignment of grid tracks */
    margin-top: 0.5vh;
}
#bbc-logo {
    background: url("https://www.bbc.co.uk/news/special/2015/newsspec_10857/bbc_news_logo.png?cb=1") no-repeat center center;
    height: 17vh;
    width: 16vw;
    background-size: cover;
}
#wsj-logo {
    background: url("https://www.stickpng.com/assets/images/58482332cef1014c0b5e49be.png") no-repeat center center;
    height: 17vh;
    width: 20vw;
    background-size: contain;
}
#reuters-logo {
    background: url("https://agency.reuters.com/content/dam/openweb/images/brand-assets/reuters-logos/rtr_ahz_rgb_pos1.png/_jcr_content/renditions/original") no-repeat center center;
    height: 17vh;
    width: 20vw;
    background-size: contain;
}
#nyTimes-logo {
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png") no-repeat center center;
    height: 17vh;
    width: 20vw;
    background-size: contain;
}
#theGuardian-logo {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/The_Guardian_2018.svg/1280px-The_Guardian_2018.svg.png") no-repeat center center;
    height: 17vh;
    width: 20vw;
    background-size: contain;
}
.image-container {
    margin: 0 0.5vw;
    background-repeat:   no-repeat;
    background-position:center center;  /* Sets reference point to scale from */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.image-container:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.image-container a {
    display: block;
    height: 100%;
    width:100%;
}
.header-text {
    font-family: "Volkorn";
    border-bottom: 0.5vh solid;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 0.2vw;
    color: black;
    display: block;
}
